<html>
<link rel="stylesheet" href="./app.component.css">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
<div *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn" >
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Boat Rental Service</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn btn-outline-light mr-2" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-light mr-2" href="/register">Register</a>
            </li>
        </ul>
    </div>
   </nav>
</div>
<!-- </body> -->

<!-- <body> -->

 <div *ngIf="isAdminLoggedIn" >                             
    <nav class="navbar navbar-inverse navbar-fixed-top navbar navbar-expand-lg navbar-dark bg-primary" role="navigation" style="height: fit-content;">
        <div class="container">
            <a class="navbar-brand" > Logged in as an admin</a>
            <div class="navbar-collapse collapse">
                <a class="btn btn-outline-light mr-2 navbar-expand-lg" href="/admin/dashboard">Dashboard</a>
                <a class="btn btn-outline-light mr-2" href="/admin/boat">Post Boat</a>
                <a class="btn btn-outline-light mr-2" href="/admin/rents">Rents</a>
                <form class="navbar-form navbar-right" method="post" action="/logout">
                    <!-- Replace "/logout" with your actual logout URL -->
                </form>
            </div>
        </div>
    <button id="logout" type="submit" class="btn btn-success" href="/login" (click)="logout()">Logout</button>
    </nav>
    
</div> 
<!-- </body> -->
<!-- <body> -->
<div *ngIf="isCustomerLoggedIn" >                             
    <nav class="navbar navbar-inverse navbar-fixed-top navbar navbar-expand-lg navbar-dark bg-primary" role="navigation">
        <!-- <div class="container"> -->
            <a class="navbar-brand" style="opacity: 0.6; color: rgb(255, 255, 255);"> Logged in as a Customer</a>
            <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" method="post" action="/logout">
                    <!-- Replace "/logout" with your actual logout URL -->
                </form>
            </div>
        <!-- </div> -->
        <button id="dashboard" type="submit" class="btn btn-success" href="./modules/customer/components/customer-dashboard/customer-dashboard.component.html" >Dashboard</button> 
        
    <!-- </nav> -->
    <button id="logout" type="submit" class="btn btn-success" href="/login" (click)="logout()">Logout</button> 
</nav>
</div>
</body>

<router-outlet></router-outlet>
